<p class="lead">
  La participation au concours est entièrement <strong>gratuite</strong>. Pour les formations (facultatives) proposées, une participation aux frais pourra être demandée pour couvrir une partie des frais de logements et des repas.
</p>
<p class="lead">
  Les finalistes seront les participants de la qualification ayant marqués les plus grands scores dans chacune des catégories. Pour chaque catégorie, environ 100 participants seront sélectionnés.
</p>
