---
title: Protection des données
trianglify_colors: '["#fff5f0","#fee0d2","#fcbba1","#fc9272","#fb6a4a","#ef3b2c","#cb181d","#a50f15","#67000d"].reverse()'
---
<section class="page-title page-title-4 image-bg">
<%=page_header_empty_image_holder %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="uppercase mb0">Protection des données</h3>
      </div>
    </div>
  </div>
</section>

<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p class="lead">
          L'ASBL beOI opère en stricte conformité avec la réglementation RGPD relative à la collecte 
          et à l'utilisation des données personnelles. 
          Nous assurons la sécurité des données recueillies et nous nous engageons à ne les partager 
          en aucun cas avec des tiers. Les renseignements liés à la participation aux concours 
          d'informatique peuvent être soumis à une analyse à des fins statistiques, tout en veillant à 
          ce qu'ils demeurent anonymisés.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h2>Protection des données à caractère personnel</h2>

        <p>
          Des informations personnelles sont collectées lors de l'inscription ou à la participation aux différentes 
          activités organisées par l'ASBL (Olympiade belge d'informatique et beCP (programmation compétitive)).
          L'ASBL beOI s'engage à respecter toutes les lois et réglementations sur la protection des données ainsi collectées.
        </p>

        <h3>Données collectées</h3>
          <p>Nom, prénom, adresse e-mail de contact, date de naissance, genre, lieu de résidence, école, niveau scolaire, 
          langue choisie pour les concours.</p>

        <h3>Finalité de la collecte</h3>
        <ul>
          <li>Vérification de l'inscription dans la bonne catégorie en fonction de l'âge et du niveau scolaire.</li>
          <li>Établissement des classements par niveau scolaire.</li>
          <li>Affichage des résultats sur notre site web.</li>
          <li>Identification des participants concernés par un éventuel problème lors d'une épreuve.</li>
          <li>Publication sur notre site du nombre de participants par niveau scolaire, par genre et par langue.</li>
          <li>Détermination de la liste des qualifiés pour la finale.</li>
          <li>Prise de contact pour la participation aux entraînements, à la finale et aux autres concours d'informatique.</li>
        </ul>
      </div>
    </div>
  </div>
</section>


<section class="bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h2>Conservation des données</h2>

        <h3>Durée de conservation</h3>
          <p>
            Les classements des concours passés sont publiés dans la section archives de notre site.
            Ils mentionnent le nom, le prénom, l'école, l'année scolaire et le résultat obtenu.
            Aucune autre donnée n'est conservée plus de 2 ans.
          </p>

        <h3>Confidentialité</h3>
        <p>
          Les informations personnelles sont stockées dans un fichier informatisé par l'ASBL beOI.
          Nous mettons en place tous moyens aptes à assurer la confidentialité et la sécurité de vos 
          données personnelles, de manière à empêcher leur endommagement, effacement ou accès par des tiers non autorisés.      
        </p>
        <p>
          L'accès aux données personnelles est limité aux membres de l'ASBL organisant la partie du concours concernée. 
          Ils sont tenus à une obligation de confidentialité.      
        </p>
        <p>
          L'ASBL beOI s'engage à ne pas vendre, louer, céder ou donner accès à des tiers aux données personnelles sans consentement préalable
          des personnes concernées, à moins d'y être contraints en raison d'un motif légitime (obligation légale, lutte contre la fraude 
          ou l'abus, exercice des droits de la défense, etc).
        </p>

        <h3>Sécurité</h3>
        <p>
          Les données personnelles traitées dans le cadre de nos activités sont stockées uniquement sur des serveurs herbergés en Europe
          par AWS et de manière sécurisée dans Google Drive.
        </p>
        
      </div>
    </div>
  </div>
</section>
